.wrapper {

}
.mainContainer{


}
.newEncription{
    margin: 10px 10px 10px 10px;
}
.encriptionContainer {
    margin: 20px 0 0 30px;
    /* display: none; */
}
.openTextEncription{
    color: rgb(248, 97, 97);
    font-size: 20px;
  
}
.openText {
    height: 20px;
    width: 300px;
    
}
.startEncriptionButton {
    margin: 10px 0 10px 0;
}
.encriptedText {
    margin: 10px 0 40px 0;
    width: 500px;
    height: 20px;
}
   
.encriptionKey {
margin: 20px 0 0 0;
    width: 300px;
}
.decodingContainer {
    margin: 20px 0 0 30px;
}
.openTextDecoding{
    color: rgb(21, 139, 21);
    font-size: 20px;
}
.encriptionText {
    margin: 10px 0 10px 0;
    width: 300px;
    height: 20px;
}

.key {
    height: 20px;
    margin: 0 0 10px 0;
    width: 300px;
}
.startDecodingButton {
}
.decodingText {
   
}


.electModeContainer {
}
.selectMode {
}
.encriptionMode {
}
.decodingMode {
}
.hideMode {
display: none;
}